In [2]:
import pandas as pd

In [3]:
basics = 'name.basics.tsv/data.tsv'
title_akas = 'title.akas.tsv/data.tsv'
title_basic = 'title.basics.tsv/data.tsv'
title_principals = 'title.principals.tsv/data.tsv'
title_ratings = 'title.ratings.tsv/data.tsv'

In [4]:
ratings = pd.read_csv(title_ratings, sep='\t')
# interviews_df = pd.read_csv('GeekforGeeks.tsv', sep='\t')

In [5]:
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1974
1        tt0000002            5.8       264
2        tt0000003            6.5      1822
3        tt0000004            5.6       178
4        tt0000005            6.2      2617
...            ...            ...       ...
1313739  tt9916730            8.3        10
1313740  tt9916766            7.0        21
1313741  tt9916778            7.2        36
1313742  tt9916840            7.5         7
1313743  tt9916880            7.0         7

[1313744 rows x 3 columns]